.btn {
    border-radius: .4rem;
    border: none;
}

textarea,
input[type='text'],
input[type='email'],
input[type='file'],
input[type='number'],
input[type='password'] {
    border-radius: .4rem !important;
}

.navbar {
    background-color: rgb(14, 14, 14) !important;
}

.navbar * {
    color: #939292 !important;
}

.navbar .navbar-btn {
    color: #000 !important;
}

.navbar li:hover * {
    color: #c5c5c5 !important;
}

.navbar-toggler-icon {
    /* background-color: #ffffff; */
}

.navbar-toggler {
    /* border-color: #ffffff; */
    outline: none !important;
}

.navbar-toggler:focus {
    box-shadow: none;
    border: none;
}

.nav-pills .nav-item .nav-link {
    border-radius: 16px;
    background-color: #fdf7da;
    margin: .2rem;
}

.nav-pills .nav-item .nav-link.active {
    background-color: #ffd200;
    color: #000;
}

footer {
    background-color: rgb(14, 14, 14);
}

footer * {
    color: #686767 !important;
}

footer h3 {
    color: #939292 !important;
}

@media (max-width: 767.98px) {
    body {
        font-size: 16px !important;
    }

    .card.card-cs {
        padding: 4px !important;
    }
}
